<!-- <div [innerHtml]="home_content | safeHtml"></div>
 -->

<h1>Die Kommission f&uuml;r Neuere Geschichte &Ouml;sterreichs und ihr Werdegang</h1>
<p>&nbsp;</p>
<p>Die Kommission f&uuml;r Neuere Geschichte &Ouml;sterreichs wurde im November 1897 auf Vorschlag des Grazer Historikers Hans von Zwiedineck-S&uuml;denhorst per Erlass des Ministeriums f&uuml;r Cultus und Unterricht &ndash; zun&auml;chst provisorisch als
    &bdquo;Commission f&uuml;r die Herausgabe von Acten und Correspondenzen zur neueren Geschichte &Ouml;sterreichs&ldquo; &ndash; eingerichtet.

    <div class="col-12">
        <div class="img-wrap" (click)="openLightboxSingle('/content/images/Zwiedineck_Suedenhorst.jpg', 'Hans von Zwiedenick-Südenhorst, Archiv Corps Vandalia Graz');">
            <div class="alt-wrap">
                <img class="img" [src]="'./content/images/Zwiedineck_Suedenhorst.jpg'" alt="Hans von Zwiedenick-Südenhorst, Archiv Corps Vandalia Graz">
                <p class="alt">Hans von Zwiedenick-Südenhorst, Archiv Corps Vandalia Graz</p>
            </div>
        </div>
    </div>


    <!-- <figure class="figure float-left col-5">
        <img class="figure-img img-fluid" src="./content/images/Zwiedineck_Suedenhorst.jpg" height="250px">
        <figcaption class="figure-caption">Hans von Zwiedenick-Südenhorst, Archiv Corps Vandalia Graz</figcaption>
      </figure> -->
    Ziel der Kommission war es, in Erg&auml;nzung zu der am renommierten Institut f&uuml;r &Ouml;sterreichische Geschichtsforschung angesiedelten Mittelalterforschung einen k&uuml;nftigen wissenschaftlichen Schwerpunkt auch f&uuml;r die neuere &ouml;sterreichische
    Geschichte zu schaffen. In erster Linie sollten Quellen in professionell erarbeiteten Editionen herausgegeben und f&uuml;r die Forschung aufbereitet werden; wobei die damaligen Historiker vorwiegend die Korrespondenzen &ouml;sterreichischer Herrscher
    und Staatsm&auml;nner vom 17. bis ins 19. Jahrhundert im Auge hatten. Aber auch andere Editionen, wie beispielsweise die Bearbeitung der Akten der &Ouml;sterreichischen Zentralverwaltung sollten hier ber&uuml;cksichtigt werden. Im November 1900 erfolgte
    schlie&szlig;lich die Umwandlung in eine definitive Kommission. Die konstituierende Sitzung fand am 19. Februar 1901 statt, seit 1903 tr&auml;gt sie den Namen &bdquo;Kommission f&uuml;r Neuere Geschichte &Ouml;sterreichs&ldquo;. Bis 1914 wurden bereits
    mehrere Editionen vorgelegt, deren Ergebnisse seit 1903 in der kommissionseigenen Reihe ver&ouml;ffentlicht wurden. In den Jahren nach dem Ersten Weltkrieg bestand die Kommission zwar fort, es gab indes nur wenige Aktivit&auml;ten. Erst 1929 wurde
    die Kommission neu belebt. Nach dem &sbquo;Anschluss&rsquo; passte sich die Kommission unter der Leitung Heinrich von Srbiks unter einem entsprechend neuen Namen (&bdquo;Kommission f&uuml;r die neuere Geschichte des ehemaligen &Ouml;sterreich&ldquo;)
    an das System an.</p>

<div class="col-12">
    <div class="img-wrap" (click)="openLightboxSingle('/content/images/Brief_Thun.jpg', 'Brief von Leo Thun-Hohenstein, ÖNB');">
        <div class="alt-wrap">
            <img class="img" [src]="'./content/images/Brief_Thun.jpg'" alt="Brief von Leo Thun-Hohenstein, ÖNB">
            <p class="alt">Brief von Leo Thun-Hohenstein, ÖNB</p>
        </div>
    </div>
</div>

<p>Nach dem Zweiten Weltkrieg gab es einen personellen Bruch bei den Mitgliedern der Kommission, auch ein deutlicher Wandel in der Arbeit der Kommission zeichnete sich ab. Zwar wurde die Arbeit am Projekt Zentralverwaltung fortgesetzt und es erschienen mehrere
    B&auml;nde dazu, die Kommission gab in der Folge jedoch vermehrt Monographien und Editionen in ihrer Schriftenreihe heraus, die nicht aus eigenst&auml;ndigen Projekten der Kommission hervorgegangen waren.

    <div class="col-12">
        <div class="img-wrap" (click)="openLightboxSingle('/content/images/Brief_Ferdinand.jpg', 'Brief von Leo Thun-Hohenstein, ÖNB');">
            <div class="alt-wrap">
                <img class="img" [src]="'./content/images/Brief_Ferdinand.jpg'" alt="Brief von Leo Thun-Hohenstein, ÖNB">
                <p class="alt">Korrespondenz von Kaiser Ferdinand, aus dem Projekt Ferdinandskorrespondenz, HHStA</p>
            </div>
        </div>
    </div>

    Erst in den 1980er Jahren begann die Kommission wieder eigene Projekte zu entwickeln, aus denen Editionen entstanden. Gleichzeitig erh&ouml;hte sich die Zahl und verbreiterten sich die Forschungsschwerpunkte ihrer einzelnen Mitglieder. Im Jahr 1991 erfolgte
    schlie&szlig;lich die Umwandlung in die bis heute bestehende Form eines Vereins. 2012 wurde die Kommission unter dem Druck der Zentralisierungsma&szlig;nahmen des Wissenschaftsministeriums organisatorisch an das Institut f&uuml;r Geschichtswissenschaften
    und Europ&auml;ische Ethnologie der Leopold-Franzens-Universit&auml;t Innsbruck angegliedert. Die Universit&auml;t und die Kommission vereinbarten dabei eine vertiefte Zusammenarbeit.</p>
<p>Der Schwerpunkt der Arbeit der Kommission f&uuml;r Neuere Geschichte &Ouml;sterreichs liegt weiterhin in der Edition von Quellen und begleitenden quellengest&uuml;tzten Forschungen. Bei den Editionsprojekten handelt es sich einerseits um klassische Quellenbearbeitungen
    in Buchform, in der Mehrzahl werden die Quellen aber nunmehr in digitaler Version herausgegeben, was einen deutlichen Mehrwert bietet und zugleich einen einfacheren Zugang zu den Quellen gew&auml;hrleistet. Mit diesen digitalen Editionen orientiert
    sich die Kommission an internationalen Standards und greift auf innovative Methoden zur Edition und Pr&auml;sentation von Quellen zur&uuml;ck.</p>
<p>Unter <a href="/content/Geschichte-der-Kommission_Langversion.pdf" target="_blank">diesem Link</a> finden Sie eine ausf&uuml;hrliche und umfassende Geschichte der Kommission; au&szlig;erdem empfehlen wir dazu das Werk von Fritz Fellner, <em>&bdquo;&hellip; ein wahrhaft patriotisches
        Werk&ldquo;. Die Kommission f&uuml;r Neuere Geschichte &Ouml;sterreichs 1897&ndash;2000, Wien 2001</em>.</p>


<div id="quellen" class="row" style="padding-top: 15px;">
    <div class="col-12">

        <!-- Title Works (Rectangle) -->
        <h3>Quellen:</h3>

        <dhpp-listing-style-3 *ngFor="let item of works" [element]="item" [showIcons]="false"></dhpp-listing-style-3>
    </div>
</div>
