<div class="aktuelles-container">

    <div class="header-container">
        <h1>Veröffentlichungen der Kommission für Neuere Geschichte Österreichs</h1>
    </div>

    <div class="information-block-container">
        <p>
            Die Veröffentlichungen der Kommission für Neuere Geschichte Österreichs erscheinen seit 1903 in loser Folge und bringen die Ergebnisse der eigenen Forschungen der Kommission und innovative Studien zur neueren Geschichte Österreichs. Die während des Zweiten Weltkriegs erschienenen beiden Bände 32 und 33 tragen hingegen bezeichnenderweise den Reihentitel „Veröffentlichungen der Kommission für Neuere Geschichte des ehemaligen Österreich.“
        </p>

        <p>
            Die Bände 1–2, 4–18, 28–38 sowie 42–43, 49–50, 54–56 und 58 aus dem Wiener Verlag Holzhausen sind vergriffen. Band 3 erschien im Innsbrucker Universitätsverlag Wagner und ist ebenfalls vergriffen. Die Bände 19–27 erschienen im (damaligen) Österreichischen Bundesverlag für Unterricht, Wissenschaft und Kunst und sind nur noch antiquarisch verfügbar. Alle übrigen Bände publizierte der Verlag Böhlau (Wien-Köln-Weimar). Viele vergriffene Bände sind nunmehr digital auf der Website der Kommission abrufbar.
        </p>

        <p>
            Innerhalb der Gesamtreihe gab und gibt es mehrere Subreihen, die die älteren Forschungsschwerpunkte der Kommission widerspiegeln. Die Bände in den Kategorien: Die österreichische Zentralverwaltung in drei Abteilungen, Korrespondenzen österreichischer Herrscher, Österreichische Staatsverträge und Österreich-Ungarns Außenpolitik von der Bosnischen Krise 1908 bis zum Kriegsausbruch 1914 verdeutlichen diese Forschungsschwerpunkte, die sich die Kommission in der ersten Hälfte des 20. Jahrhunderts zur Aufgabe gemacht hatte. In den folgenden Jahrzehnten bis heute gab es innerhalb der Reihe eine gewisse Verschiebung, sodass überwiegend Monographien zu unterschiedlichen Themen erschienen sind. Nach wie vor publiziert die Kommission indes Editionen und Nachschlagewerke. 
        </p>

        <p>
            In der Serie zur <b>Österreichischen Zentralverwaltung</b> sind Darstellungen und Editionen entscheidender Dokumente der Entwicklung der österreichischen Zentralverwaltung von 1491 bis 1867 in drei Abteilungen und insgesamt vierzehn Bänden von 1907 bis 1970 publiziert worden. Den Abschluss bildete der nach wie vor als Standardwerk geltende Band 59 von Friedrich Walter: Österreichische Verfassungs- und Verwaltungsgeschichte von 1500-1955, aus dem Jahr 1972.
        </p>

        <p>
            In der Subserie zur Edition der <b>Familienkorrespondenz Habsburgischer Herrscher</b> wurde die Korrespondenz der Kaiser Ferdinand I. und Maximilian II. publiziert. Während aus der Korrespondenz Maximilians II. lediglich zwei Bände publiziert wurden und die Arbeiten dazu bereits nach dem Ersten Weltkrieg eingestellt und nicht wieder aufgenommen wurden, wird die Edition der Korrespondenz Kaiser Ferdinands bis heute fortgesetzt. Unter der Leitung von Univ. Prof. Dr. Christopher F. Laferl (Universität Salzburg, Fachbereich Romanistik) erscheinen regelmäßig neue Bände. Gleichzeitig werden einige Bände in digitaler Form veröffentlicht. 
        </p>

        <p>
            Die editorische Aufarbeitung der <b>Österreichischen Staatsverträge</b> war einer der ersten Forschungsschwerpunkte der Kommission nach ihrer Gründung. Noch vor dem Ersten Weltkrieg erschienen vier Bände, und begleitend veröffentlichte Ludwig Bittner ein chronologisches Verzeichnis der Verträge von 1526 bis 1914.
        </p>

        <p>
            Die halbamtliche Dokumentensammlung zu <b>Österreich-Ungarns Außenpolitik</b> vor dem Ersten Weltkrieg als österreichischer Beitrag zur Diskussion um die Kriegsschuldfrage erschien 1930 – noch rechtzeitig vor dem Auslaufen der Veröffentlichungssperre dieser Dokumente für ausländische Forscher – im Österreichischen Bundesverlag. Die Arbeit wurde maßgeblich durch ein Darlehen des deutschen Auswärtigen Amtes finanziert. „Unstreitig zählt die Publikation des Aktenwerkes zur österreichischen Außenpolitik in der Effizienz ihrer Durchführung zu den Glanzlichtern nicht nur der Geschichte der Kommission, sondern der österreichischen Geschichtsforschung überhaupt“ (Fritz Fellner, „… ein wahrhaft patriotisches Werk“, Bd. 91 der Veröffentlichungen der Kommission, S. 96).
        </p>

        <p>
            Seit der Gründung der Kommission bildete neben der Veröffentlichung amtlicher Quellen die Erschließung von Nachlässen in öffentlichen und privaten Archiven einen zentralen Aspekt der Arbeit der Kommission. Nach dem Zweiten Weltkrieg begann die Kommission damit, verstärkt <b>Editionen</b> von Quellen genuin privatem Charakter herauszugeben, die aber immer einen starken Bezug zur politischen Geschichte Österreichs aufweisen. Hier zu nennen sind die Editionen der Tagebücher von Karl Zinzendorf oder die Korrespondenz von Leo Thun-Hohenstein, die aus Forschungsprojekten der Kommission hervorgegangen sind. Weitere wichtige Editionen sind die Tagebücher Viktor Andrian-Werburgs oder die Tagebücher Egbert Belcredis.
            Daneben sind in der Reihe einige <b>Nachschlagewerke</b> erschienen, wie etwa das Lexikon Österreichische Geschichtswissenschaft im 20. Jahrhundert. Ein biographisch-bibliographisches Lexikon als Band 99. Auch ein weiteres zentrales Hilfsmittel zur Erforschung der österreichischen Geschichte, das Verzeichnis der Familienarchive und persönlichen Schriftennachlässe zur österreichischen Geschichte 1500–2000, herausgegeben von Michael Hochedlinger, Martin Krenn und Simon Peter Terzer ist in den Veröffentlichungen der Kommission publiziert worden.
        </p>

        <p>
            In den Veröffentlichungen der Kommission für Neuere Geschichte Österreichs werden auch <b>Monographien</b> zur neueren Geschichte Österreichs publiziert, vielfach entstanden diese – v. a. während der letzten beiden Jahrzehnte – aus vom FWF geförderten Forschungsprojekten. Dabei handelt es sich sowohl um eigene Forschungsergebnisse der Kommission als auch um Studien, die eigene Schwerpunkte ergänzen und erweitern. Allen Arbeiten gemeinsam ist ein stark quellenbezogener Ansatz. Chronologisch reichen die Arbeiten vom späten 15. bis in die zweite Hälfte des 20. Jahrhunderts mit einem deutlichen Schwerpunkt in der Spätphase der Habsburgermonarchie nach 1848 bis zum Ende des Ersten Weltkriegs. Einen Schwerpunkt der jüngeren Vergangenheit bildeten Veröffentlichungen zur Geschichte der Fideikommissbibliothek durch Hans Petschar.
        </p>
    </div>
</div>