<div class="row" style="padding-top: 2rem;">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="row" style="background-color: #f2f2f2; color: #2f9abe;">
      <div class="col-lg-6 col-12">
        <b style="font-weight: 700;">Adresse</b>
        <address>
          Postadresse: c/o Institut für Geschichtswissenschaften und Europäische Ethnologie, Universität Innsbruck, Innrain 52, 6020
          Innsbruck
        </address>
        <b>Kontakt</b>
        <address style="font-weight: 700;">
          <a (click)="linkDecrypt('nbjmup;disjtupg/bjdiofsAvjcl/bd/bu')">christof [dot] aichner [at] uibk [dot] ac [dot] at</a>
        </address>
      </div>
      <div class="col-lg-6 col-12" style="background-color: #f2f2f2; color: #2f9abe;">
        <ul class="list-unstyled float-right">
          <li><a routerLink="/impressum">Impressum</a></li>
          <li><a routerLink="/datenschutz">Datenschutz</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <!--  <div class="col-12 float-left">
            Hosted by
            <p></p>
            <img [src]="'./content/images/dhLogo-Farbe-2-300x88.png'" style="height: 60px;">
        </div> -->
  </div>
</div>
