<h1>Kommission f&uuml;r Neuere Geschichte &Ouml;sterreichs</h1>
<p>
Bankverbindung Bank Austria, BLZ 12000, BIC (SWIFT) BKAUATWW
</p>
<address>
Konto Nr. 02230861300<br>
IBAN: AT12 1100 0022 3086 1300<br>
ZVR-Nr. 458463889<br>
Vereinssitz: 1010 Wien<br>
</address>

<h3>
Postadresse:
</h3>
<address>
<strong>c/o Institut für Geschichtswissenschaften und Europäische Ethnologie</strong><br>
Universität Innsbruck<br>
Innrain 52<br>
6020 Innsbruck<br>
</address>

<h3>
Für den Inhalt verantwortlich:
</h3>

<address>
<strong>Univ.-Prof. Mag. phil. Dr. rer. nat. Kurt Scharr</strong><br>
Institut für Geschichtswissenschaften und Europäische Ethnologie<br>
Universität Innsbruck<br>
Innrain 52<br>
6020 Innsbruck<br>
</address>