<h1>Kommission f&uuml;r Neuere Geschichte &Ouml;sterreichs</h1>
<p>Die Kommission f&uuml;r Neuere Geschichte &Ouml;sterreichs ist eine der &auml;ltesten au&szlig;eruniversit&auml;ren
    historischen Forschungseinrichtungen &Ouml;sterreichs.</p>
<p>Seit &uuml;ber 100 Jahren f&uuml;hrt die Kommission eigene Forschungsprojekte durch. Der Schwerpunkt liegt in der
    Quellenedition und in begleitenden quellengest&uuml;tzten Studien.</p>
<p>Die <a href="http://www.oesterreichische-geschichte.at/?page_id=173">&ldquo;Ver&ouml;ffentlichungen der Kommission
        f&uuml;r Neuere Geschichte &Ouml;sterreichs&rdquo;</a> geh&ouml;ren zu den renommiertesten historischen
    Publikationsreihen &Ouml;sterreichs. Bisher sind mehr als 120 B&auml;nde erschienen. Neben den Ergebnissen der eigenen
    Forschung werden darin auch herausragende Monographien und Editionen zur neueren &ouml;sterreichischen Geschichte
    ver&ouml;ffentlicht.</p>
<p>Im Februar 2012 wurde ein Kooperationsvertrag zwischen der Universit&auml;t Innsbruck und der Kommission f&uuml;r
    Neuere Geschichte &Ouml;sterreichs zum Zweck der Vertiefung und Festigung ihrer Zusammenarbeit geschlossen. Im
    Rahmen dieses Vertrages sind gewisse T&auml;tigkeiten und Aufgaben der Kommission (u.a. die Forschungsprojekte
    Zinzendorf, Wiener Kongress, Leo Thun, Tageb&uuml;cher Joseph M. Baernreithers) am Institut f&uuml;r
    Geschichtswissenschaften und Europ&auml;ische Ethnologie an der Philosophisch-Historischen Fakult&auml;t mit der
    wissenschaftlichen Arbeit, Administration und Finanzierung etabliert.</p>
<p>Der Bereich der Digitalen Edition bzw. der Online-Publikation ist ein wichtiges Aufgabegebiet der Kommission. In
    enger Zusammenarbeit mit der Universit&auml;t Innsbruck, mit welcher die Kommission im Jahr 2012 einen
    Kooperationsvertrag abgeschlossen hat, werden vergriffene Editionen auf unserer Website bereitgestellt. Zudem werden
    neue Editionsprojekte als digitale Editionen angelegt und anhand der Richtlinien digitalen Editierens
    durchgef&uuml;hrt.</p>
<p>Die Kommission f&uuml;r Neuere Geschichte &Ouml;sterreichs ist ein Mitglied des Verbands wissenschaftlicher
    Gesellschaften &Ouml;sterreichs <a href="http://www.vwgoe.at/" target="_blank">VWG&Ouml;</a>.</p>

<dhpp-listing-style-1 class="row" *ngFor="let item of data;" [element]="item"></dhpp-listing-style-1>
