<div class="row" style="width: 500px;">
    <div class="col-12">
        <dhpc-metadata-editor shape="http://v2.oesterreichische-geschichte.at/content/ttl/persono-diss.ttl" base="https://dhplus.sbg.ac.at/" data="http://v2.oesterreichische-geschichte.at/content/ttl/personi.ttl" query="http://v2.oesterreichische-geschichte.at/content/ttl/persono-diss.rq"></dhpc-metadata-editor>
        <!-- <dhpc-metadata-editor shape="http://localhost:9000/content/ttl/persono-diss.ttl" base="https://dhplus.sbg.ac.at/"></dhpc-metadata-editor> -->
    </div>
</div>

