.list-aktuelles > li {
  font-size: 13px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  color: #AAAAAA;
}

.p-header
{
  color: #aaaaa; 
  font-family:'Arial Fett', 'Arial Standard', 'Arial', sans-serif;
  font-weight:700; 
  font-size: 16px;
}
